<h3>Server components come below:</h3>
<br>
<label>Update server name - one way data binding</label>

<input (input)="onUpdateServerName($event)"
       class="form-control"
       type="text">

<label>Update server name - two ways data binding</label>

<input [(ngModel)]="serverName"
       class="form-control"
       type="text">


<p>{{serverName}}</p>

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>

<p *ngIf="isCreated">{{serverCreationStatus}}</p>

<br>
<app-server></app-server>
