<br>
<p [ngClass]="{online: serverStatus ==='online'}"
   [ngStyle]="{backgroundColor:getColor()}">
  {{'Server'}} ID {{ serverId }} is {{serverStatus}} or {{getServerStatus()}}
</p>

<label>Update User Name</label>

<input type="text"
       class="form-control"
       [(ngModel)]="userName">

<p>User Name is {{userName}}</p>

<button class=" btn btn-primary"
        [disabled]="userName === ''"
        (click)="userName = ''">Empty User Name
</button>
<hr>
<button class="btn btn-primary"
        (click)="onAddDetail()">Display Details
</button>
<br>
<label>Detail</label>
<input type="text"
       class="form-control"
       [(ngModel)]="detailText"
>
<h2>List of Details</h2>
<p *ngFor="let detail of details; let i = index" [ngStyle]="{backgroundColor:getDetailColor(i)}" [ngClass]="{fifth: i >= 5}" >{{detail}}</p>
